#backbtn{
    width:15%;
    height:40px;
    border-radius:10px;
    cursor: pointer;
}
.contain{
    width:30%;
    height:auto;
    background-color:aqua;
    margin:10vh auto;
    padding:10px;
    box-shadow:2px 2px 5px #fff;
    border-radius:10px;
}
.contain > form > h1{
    text-align: center;
    /* color: #fff; */
    font-family: Arial, Helvetica, sans-serif;
   
}
.contain > form > label{
    margin-left:40px;
    /* color: #fff; */
}
.contain > form > p > input{
    width:80%;
    height:40px;
    margin-left:40px;
    padding:5px 0px;
    border-radius:5px;
} 
.contain > form > p> button {
    width:30%;
    height:40px;
    margin-left:40px;
    border-radius:10px;
    cursor: pointer;
}